{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/changelog",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/git", {
      "assets": ["meta_schema.go", "CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/github",
    "@semantic-release/npm"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "publish": [
    ["@semantic-release/github", {
      "assets": [
        {
          "name": "open-rpc-meta-schema.json",
          "path": "build/schema.json",
          "label": "OpenRPC Meta Schema"
        }
      ]
    }],
    "@semantic-release/npm"
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
